<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <div class="brand-icon">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
      <span class="brand-name">FinTrack</span>
    </div>

    <nav class="nav-list">
      @for (item of navItems; track item.path) {
        <a class="nav-item" [routerLink]="item.path" routerLinkActive="active">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </nav>

    <div class="sidenav-footer">
      @if (user$ | async; as user) {
        <div class="user-info" [matMenuTriggerFor]="userMenu">
          <div class="user-avatar">{{ user.name.charAt(0).toUpperCase() }}</div>
          <div class="user-details">
            <span class="user-name">{{ user.name }}</span>
            <span class="user-email">{{ user.email }}</span>
          </div>
          <mat-icon class="chevron">expand_less</mat-icon>
        </div>
        <mat-menu #userMenu="matMenu" yPosition="above">
          <button mat-menu-item (click)="auth.logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      }
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
